.root {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.body {
  text-align: center;
  background-color: #3D3B43;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}


.app {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  min-width: 100%;
  gap: 60px;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin: 20px 30px;

}

.sectionBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0%;
  margin: 0%;
  gap: 20px;
}

.sectionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 30px;
  width: 100%;
  background-color: #333333;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  gap: 30px;
  user-select: none; /* Prevent text selection */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Hide scrollbar for WebKit browsers */
.sectionBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.sectionBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sectionBarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left; /* Center horizontally */
  gap: 10px;
  min-width: 300px;
  max-height: 150px;
  user-select: none; /* Prevent text selection */
  margin: 0 auto; /* Center horizontally within the container */
  text-align: left; /* Align content to the left */
}

.sectionBarItemInfo {
  display: flex;
  flex-direction: column;
  user-select: none; /* Prevent text selection */
  gap: 10px;
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
}

.sectionBarItemInfo strong {
  white-space: wrap; /* Allow text to wrap */
}
.img {
  width: 100px;
  height: 100px;
  background-color: #C5A1A1;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:visited .img {
  background-color: red !important;
  opacity: 0.5 !important;
  filter: grayscale(100%) !important;
  border: 2px solid red !important;
  transform: scale(0.9) !important;
  box-shadow: none !important;
}


.App-link {
  color: #61dafb;
}

.box {
  position: absolute;
  padding: 10px 15px;
  background-color: #C5A1A1;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow */
  user-select: none; /* Prevent text selection */
  font-size: 18px;
  color: white;
  margin: -15px;
  cursor: pointer;
}

.boxBack {
  position: absolute;
  right: 30px;
  padding: 10px 15px;
  background-color: #C5A1A1;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow */
  user-select: none; /* Prevent text selection */
  font-size: 18px;
  color: white;
  margin: 15px; /* Remove margin */
  cursor: pointer;
}

.box p {
  margin: 0;
  padding: 0;
  border: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
}